Autumn/Lab8/Client/Service References/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetFilters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilters" />
  </wsdl:message>
  <wsdl:message name="IService_GetFilters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFiltersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendImage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendImage" />
  </wsdl:message>
  <wsdl:message name="IService_SendImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendCancel_InputMessage">
    <wsdl:part name="parameters" element="tns:SendCancel" />
  </wsdl:message>
  <wsdl:message name="IService_SendCancel_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendCancelResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetProgress_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetProgress" />
  </wsdl:message>
  <wsdl:message name="IService_GetProgress_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetProgressResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetImage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="IService_GetImage_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetFilters">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetFilters" message="tns:IService_GetFilters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetFiltersResponse" message="tns:IService_GetFilters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendImage" message="tns:IService_SendImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendImageResponse" message="tns:IService_SendImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendCancel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendCancel" message="tns:IService_SendCancel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendCancelResponse" message="tns:IService_SendCancel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgress">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetProgress" message="tns:IService_GetProgress_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetProgressResponse" message="tns:IService_GetProgress_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetImage" message="tns:IService_GetImage_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetImageResponse" message="tns:IService_GetImage_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#NetTcpBinding_IService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetFilters">
      <soap12:operation soapAction="http://tempuri.org/IService/GetFilters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendImage">
      <soap12:operation soapAction="http://tempuri.org/IService/SendImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCancel">
      <soap12:operation soapAction="http://tempuri.org/IService/SendCancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgress">
      <soap12:operation soapAction="http://tempuri.org/IService/GetProgress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap12:operation soapAction="http://tempuri.org/IService/GetImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="NetTcpBinding_IService" binding="tns:NetTcpBinding_IService">
      <soap12:address location="net.tcp://localhost:8080/Service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8080/Service</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-KJ45NV9\Mary</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>