Autumn/Common/Filters/ClientFilters/Service References/Filtering/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_get_SizeOfResult_InputMessage">
    <wsdl:part name="parameters" element="tns:get_SizeOfResult" />
  </wsdl:message>
  <wsdl:message name="IService_get_SizeOfResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_SizeOfResultResponse" />
  </wsdl:message>
  <wsdl:message name="IService_set_SizeOfSrcArray_InputMessage">
    <wsdl:part name="parameters" element="tns:set_SizeOfSrcArray" />
  </wsdl:message>
  <wsdl:message name="IService_set_SizeOfSrcArray_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_SizeOfSrcArrayResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Cancel_InputMessage">
    <wsdl:part name="parameters" element="tns:Cancel" />
  </wsdl:message>
  <wsdl:message name="IService_Cancel_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Filters_InputMessage">
    <wsdl:part name="parameters" element="tns:Filters" />
  </wsdl:message>
  <wsdl:message name="IService_Filters_OutputMessage">
    <wsdl:part name="parameters" element="tns:FiltersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetProgress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgress" />
  </wsdl:message>
  <wsdl:message name="IService_GetProgress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgressResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SetFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:SetFilter" />
  </wsdl:message>
  <wsdl:message name="IService_SetFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DoFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:DoFilter" />
  </wsdl:message>
  <wsdl:message name="IService_DoFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendChunk_InputMessage">
    <wsdl:part name="parameters" element="tns:SendChunk" />
  </wsdl:message>
  <wsdl:message name="IService_SendChunk_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendChunkResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReceiveChunk_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveChunk" />
  </wsdl:message>
  <wsdl:message name="IService_ReceiveChunk_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveChunkResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="get_SizeOfResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/get_SizeOfResult" message="tns:IService_get_SizeOfResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/get_SizeOfResultResponse" message="tns:IService_get_SizeOfResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_SizeOfSrcArray">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/set_SizeOfSrcArray" message="tns:IService_set_SizeOfSrcArray_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/set_SizeOfSrcArrayResponse" message="tns:IService_set_SizeOfSrcArray_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Cancel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Cancel" message="tns:IService_Cancel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CancelResponse" message="tns:IService_Cancel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Filters">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Filters" message="tns:IService_Filters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FiltersResponse" message="tns:IService_Filters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgress">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetProgress" message="tns:IService_GetProgress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetProgressResponse" message="tns:IService_GetProgress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SetFilter" message="tns:IService_SetFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SetFilterResponse" message="tns:IService_SetFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DoFilter" message="tns:IService_DoFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DoFilterResponse" message="tns:IService_DoFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendChunk">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendChunk" message="tns:IService_SendChunk_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendChunkResponse" message="tns:IService_SendChunk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveChunk">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReceiveChunk" message="tns:IService_ReceiveChunk_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReceiveChunkResponse" message="tns:IService_ReceiveChunk_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_SizeOfResult">
      <soap:operation soapAction="http://tempuri.org/IService/get_SizeOfResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_SizeOfSrcArray">
      <soap:operation soapAction="http://tempuri.org/IService/set_SizeOfSrcArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancel">
      <soap:operation soapAction="http://tempuri.org/IService/Cancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Filters">
      <soap:operation soapAction="http://tempuri.org/IService/Filters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgress">
      <soap:operation soapAction="http://tempuri.org/IService/GetProgress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFilter">
      <soap:operation soapAction="http://tempuri.org/IService/SetFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoFilter">
      <soap:operation soapAction="http://tempuri.org/IService/DoFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendChunk">
      <soap:operation soapAction="http://tempuri.org/IService/SendChunk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveChunk">
      <soap:operation soapAction="http://tempuri.org/IService/ReceiveChunk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Filters/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>